<h1>Recipe</h1>

<% if (recipe != null) { %>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%- recipe.name %></li>
    </ol>
  </nav>

<div class="row">

  <div class="col-12 col-md-4">
    <img src="/uploads/<%- recipe.image %>" class="img-fluid sticky-top" style="top: 20px" alt="<%- recipe.name %>" loading=""lazy>
  </div>

  <div class="col-12 col-md-8">
    <div class="row">
      <div class="col-12"><h1><%- recipe.name %></h1></div>
      <div class="col-12 mb-4"><%- recipe.description %></div>
      <div class="col-12 mb-4"><i class="bi bi-tag"></i><%- recipe.category %></div>
      <!-- add in white space to avoid spacing issues -->
      <div class="col-12" style="white-space: pre-line;">
        <h4>Directions</h4>
        <%- recipe.directions %>
      </div>
    </div>
  </div>

</div>

<% } %>